# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/
.env

# Poetry
poetry.lock

# VSCode or PyCharm
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
